body {
	display:block;
	background-color: #A6EAF9;
	color: purple;
	text:"black";
}


/*
.header_h1 {
	color: black;
	font-family: Times, TimesNR,"New Century Schoolbook", serif, Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
	font-size: 28pt;
	background-color: #A6EAF9;
	background-size: cover;
	text-align: center;
	/*height: 30px;*/
	}
*/


.header_table {
	border: 1px solid navy;
	width: 100%;
	height: 210px;
	}

.header_td_app_name {
	width: 50%;
	color: black;
	font-family: Times, TimesNR,"New Century Schoolbook", serif, Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
	font-size: 28pt;
	background-color: #A6EAF9;
	background-size: cover;
	text-align: center;
	}

.header_td_middle_box {
	width: 30%;
}

.header_td_version {
	background:url("../../static/images/Whitehorse_RGB.jpg") ;
	background-size: cover;  /*300px 210px;*/
	background-repeat: no-repeat;
	background-position: right top;
	width: 280px;

	}

.pre_version {
	text-align: right;
	text: cyan;
	font-size: 8pt;
}

.header_hr {
	color: #00FF00;
	height: 1px;
	}
.footer_hr {
	color: #00FF00;
	border: 0;
	background-color: #9E9E9E;
	height: 7px;
	width: 100%;
	text-align: left;
	}

.pre_debug_queue {
	color: ;violet;
	background-color: LightGreen;
	font-size: 12pt;

}
.span_error {
	background-color: red;
	color: white;
	}


.misc_small_text {
	font-size: 8pt;
	}

.logon_bar_table {
	border: 1px solid navy;
	width: 100%;
	}
.logon_bar_tr {
	}

.logon_bar_td_username {
	width: 20%;
	}
.logon_bar_username_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td_roll {
	width: 20%;
	}
.logon_bar_role_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td {
	width: 20%;
	}


.logon_screen {
	text-align: center;
	}

.logon_table {
	border: 1px solid navy;
	}
.logon_tr {
	border: 1px solid navy;
	}
.logon_td_prompt {
	text-align: left;
	border: 1px solid navy;
	}
.logon_td_input {
	text-align: left;
	border: 1px solid navy;
	}
.logon_username_input {
	width: 200pt;
	}
.logon_password_input {
	width: 200pt;	}
.logon_encryption_input {
	width: 200pt;
	}
.logon_submit_button {
	}
.logon_reset_button {
	}


.table_page_count {
	width: 100%;
	}
.tr_page_count {
	background-color: #DFFFE0;
	}
.td_page_count {
	}

.table_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list {
/*	border: 1px solid navy;
*/	}
.td_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list_even {
	background-color: #C0C0C0;
	}
.tr_voters_list_odd {
	background-color: #E5E5E5;
	}

.table_bulk_entry_common {
	border: 1px solid navy;
	}
.tr_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_title {
	border: 1px solid navy;
	}
.td_bulk_entry_common_value {
/*	border: 1px solid navy;
*/	}


.table_bulk_entry {
/*	border: 1px solid navy;
*/	}
.tr_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry_error {
	border: 1px solid navy;
	}

.bulk_entry_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_add_voter_common {
	border: 1px solid navy;
	}
.tr_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_title {
	border: 1px solid navy;
	}
.td_add_voter_common_value {
/*	border: 1px solid navy;
*/	}


.table_add_voter_entry {
/*	border: 1px solid navy;
*/	}
.tr_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_error {
	border: 1px solid navy;
	}

.add_voter_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_role_maintenance_role {
	border: 1px solid navy;
	}
.tr_role_maintenance_role {
	border: 1px solid navy;
	}
.th_role_maintenance_role {
	border: 1px solid navy;
	}
.td_role_maintenance_role {
	border: 1px solid navy;
	}


.table_role_maintenance_ptf {
	border: 1px solid navy;
	}
.tr_role_maintenance_ptf {
	border: 1px solid navy;
	}
.th_role_maintenance_ptf {
	border: 1px solid navy;
	}
.td_role_maintenance_ptf {
	border: 1px solid navy;
	}

//a:link {
//		color: blue;
//		background-color: #FFFDCC
//	}
//a:visited {
//		color: purplez ;
//		background-color: #FFFDCC
//	}
//A:hover { background: cyan }

//.td_odd {
//				text-align: left;
//				background-color: #D8D8D8;
//		}
//.td_even {
//				text-align: left;
//				background-color: #F5F5F5;
//		}

//
//.tabs {
///*	width: 750px;*/
//	margin: 10px;
//}


//.tab_active {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #D2CE82;
//	border-width: 1px;
//	border-style: solid;
//*/	background-color: #CE393E;
//	color: #000000;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	font-weight: bold;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.tab_inactive {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #000000;
//	border-style: solid;
//	border-width: 1px;
//*/	background-color: #B1DAA7;
//	color: #777777;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.secondary {
//	background-color: #B1DAA7;
//	padding: 2px;
//	font-size: 10pt;
//}

//.tab_content {
//	-moz-border-radius: 0px 10px 10px 10px;
///*	width: 90%;
//	border-color: #aaaaaa;
//	border-style: solid;
//	border-width: 1px;
//	color: #000000;
//	float: left;
//	text-align: left;
//	padding: 10px;
//	*/
//}




.menu_fieldset {
	}

.menu_legend {
	}

.menu_table {
	border: 1px solid navy;
	width: "100%";
	background-color:#8080C0

	/*background-color:#FF0000
	*/
	}

.menu_tr {

	}

.menu_td {
	border: 1px solid navy;
	text-align: center;
	}

.menu_payload3_text {
	color: white;
	}

.menu_buttons {
	}
.header_h1 {
	color: black;
	font-family: Times, TimesNR,"New Century Schoolbook", serif, Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
	/*background-color: #A6EAF9;*/
	text-align: center;
	height: 20px;
	}

.header_td_app_name {
	}

.header_td_version {
	text-align: right;
	text: cyan;
	font-size: 8pt;
	}
.header_hr {
	color: #00FF00;
	height: 1px;
	}
.footer_hr {
	color: #00FF00;
	border: 0;
	background-color: #9E9E9E;
	height: 7px;
	width: 100%;
	text-align: left;
	}

.span_error {
	background-color: red;
	color: white;
	}


.misc_small_text {
	font-size: 8pt;
	}

.logon_bar_table {
	border: 1px solid navy;
	width: 100%;
	}
.logon_bar_tr {
	}

.logon_bar_td_username {
	width: 20%;
	}
.logon_bar_username_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td_roll {
	width: 20%;
	}
.logon_bar_role_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td {
	width: 20%;
	}


.logon_screen {
	text-align: center;
	}

.logon_table {
	border: 1px solid navy;
	}
.logon_tr {
	border: 1px solid navy;
	}
.logon_td_prompt {
	text-align: left;
	border: 1px solid navy;
	}
.logon_td_input {
	text-align: left;
	border: 1px solid navy;
	}
.logon_username_input {
	width: 200pt;
	}
.logon_password_input {
	width: 200pt;	}
.logon_encryption_input {
	width: 200pt;
	}
.logon_submit_button {
	}
.logon_reset_button {
	}


.table_page_count {
	width: 100%;
	}
.tr_page_count {
	background-color: #DFFFE0;
	}
.td_page_count {
	}

.table_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list {
/*	border: 1px solid navy;
*/	}
.td_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list_even {
	background-color: #C0C0C0;
	}
.tr_voters_list_odd {
	background-color: #E5E5E5;
	}

.table_bulk_entry_common {
	border: 1px solid navy;
	}
.tr_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_title {
	border: 1px solid navy;
	}
.td_bulk_entry_common_value {
/*	border: 1px solid navy;
*/	}


.table_bulk_entry {
/*	border: 1px solid navy;
*/	}
.tr_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry_error {
	border: 1px solid navy;
	}

.bulk_entry_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_add_voter_common {
	border: 1px solid navy;
	}
.tr_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_title {
	border: 1px solid navy;
	}
.td_add_voter_common_value {
/*	border: 1px solid navy;
*/	}


.table_add_voter_entry {
/*	border: 1px solid navy;
*/	}
.tr_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_error {
	border: 1px solid navy;
	}

.add_voter_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_role_maintenance_role {
	border: 1px solid navy;
	}
.tr_role_maintenance_role {
	border: 1px solid navy;
	}
.th_role_maintenance_role {
	border: 1px solid navy;
	}
.td_role_maintenance_role {
	border: 1px solid navy;
	}


.table_role_maintenance_ptf {
	border: 1px solid navy;
	}
.tr_role_maintenance_ptf {
	border: 1px solid navy;
	}
.th_role_maintenance_ptf {
	border: 1px solid navy;
	}
.td_role_maintenance_ptf {
	border: 1px solid navy;
	}

//a:link {
//		color: blue;
//		background-color: #FFFDCC
//	}
//a:visited {
//		color: purplez ;
//		background-color: #FFFDCC
//	}
//A:hover { background: cyan }

//.td_odd {
//				text-align: left;
//				background-color: #D8D8D8;
//		}
//.td_even {
//				text-align: left;
//				background-color: #F5F5F5;
//		}

//
//.tabs {
///*	width: 750px;*/
//	margin: 10px;
//}


//.tab_active {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #D2CE82;
//	border-width: 1px;
//	border-style: solid;
//*/	background-color: #CE393E;
//	color: #000000;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	font-weight: bold;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.tab_inactive {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #000000;
//	border-style: solid;
//	border-width: 1px;
//*/	background-color: #B1DAA7;
//	color: #777777;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.secondary {
//	background-color: #B1DAA7;
//	padding: 2px;
//	font-size: 10pt;
//}

//.tab_content {
//	-moz-border-radius: 0px 10px 10px 10px;
///*	width: 90%;
//	border-color: #aaaaaa;
//	border-style: solid;
//	border-width: 1px;
//	color: #000000;
//	float: left;
//	text-align: left;
//	padding: 10px;
//	*/
//}




.menu_fieldset {
	}

.menu_legend {
	}

.menu_table {
	border: 1px solid navy;
	width: "100%";
	background-color:#8080C0

	/*background-color:#FF0000
	*/
	}

.menu_tr {

	}

.menu_td {
	border: 1px solid navy;
	text-align: center;
	}

.menu_payload3_text {
	color: white;
	}

.menu_buttons {
	}
.header_h1 {
	color: black;
	font-family: Times, TimesNR,"New Century Schoolbook", serif, Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
	/*background-color: #A6EAF9;*/
	text-align: center;
	height: 20px;
	}



header_td_app_name {
	}

.header_td_version {
	text-align: right;
	text: cyan;
	font-size: 8pt;
	}
.header_hr {
	color: #00FF00;
	height: 1px;
	}
.footer_hr {
	color: #00FF00;
	border: 0;
	background-color: #9E9E9E;
	height: 7px;
	width: 100%;
	text-align: left;
	}

.span_error {
	background-color: red;
	color: white;
	}


.misc_small_text {
	font-size: 8pt;
	}

.logon_bar_table {
	border: 1px solid navy;
	width: 100%;
	}
.logon_bar_tr {
	}

.logon_bar_td_username {
	width: 20%;
	}
.logon_bar_username_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td_roll {
	width: 20%;
	}
.logon_bar_role_detail {
	color: DarkGreen;
	font-weight: bold;
	}
.logon_bar_td {
	width: 20%;
	}


.logon_screen {
	text-align: center;
	}

.logon_table {
	border: 1px solid navy;
	}
.logon_tr {
	border: 1px solid navy;
	}
.logon_td_prompt {
	text-align: left;
	border: 1px solid navy;
	}
.logon_td_input {
	text-align: left;
	border: 1px solid navy;
	}
.logon_username_input {
	width: 200pt;
	}
.logon_password_input {
	width: 200pt;	}
.logon_encryption_input {
	width: 200pt;
	}
.logon_submit_button {
	}
.logon_reset_button {
	}


.table_page_count {
	width: 100%;
	}
.tr_page_count {
	background-color: #DFFFE0;
	}
.td_page_count {
	}

.table_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list {
/*	border: 1px solid navy;
*/	}
.td_voters_list {
/*	border: 1px solid navy;
*/	}
.tr_voters_list_even {
	background-color: #C0C0C0;
	}
.tr_voters_list_odd {
	background-color: #E5E5E5;
	}

.table_bulk_entry_common {
	border: 1px solid navy;
	}
.tr_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common {
	border: 1px solid navy;
	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_error {
/*	border: 1px solid navy;
*/	}
.td_bulk_entry_common_title {
	border: 1px solid navy;
	}
.td_bulk_entry_common_value {
/*	border: 1px solid navy;
*/	}


.table_bulk_entry {
/*	border: 1px solid navy;
*/	}
.tr_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry {
	border: 1px solid navy;
	}
.td_bulk_entry_error {
	border: 1px solid navy;
	}

.bulk_entry_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_add_voter_common {
	border: 1px solid navy;
	}
.tr_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common {
	border: 1px solid navy;
	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_error {
/*	border: 1px solid navy;
*/	}
.td_add_voter_common_title {
	border: 1px solid navy;
	}
.td_add_voter_common_value {
/*	border: 1px solid navy;
*/	}


.table_add_voter_entry {
/*	border: 1px solid navy;
*/	}
.tr_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_entry {
	border: 1px solid navy;
	}
.td_add_voter_error {
	border: 1px solid navy;
	}

.add_voter_error {
	color: red;
	font-weight: bold;
	background-color: yellow;
	}


.table_role_maintenance_role {
	border: 1px solid navy;
	}
.tr_role_maintenance_role {
	border: 1px solid navy;
	}
.th_role_maintenance_role {
	border: 1px solid navy;
	}
.td_role_maintenance_role {
	border: 1px solid navy;
	}


.table_role_maintenance_ptf {
	border: 1px solid navy;
	}
.tr_role_maintenance_ptf {
	border: 1px solid navy;
	}
.th_role_maintenance_ptf {
	border: 1px solid navy;
	}
.td_role_maintenance_ptf {
	border: 1px solid navy;
	}

//a:link {
//		color: blue;
//		background-color: #FFFDCC
//	}
//a:visited {
//		color: purplez ;
//		background-color: #FFFDCC
//	}
//A:hover { background: cyan }

//.td_odd {
//				text-align: left;
//				background-color: #D8D8D8;
//		}
//.td_even {
//				text-align: left;
//				background-color: #F5F5F5;
//		}

//
//.tabs {
///*	width: 750px;*/
//	margin: 10px;
//}


//.tab_active {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #D2CE82;
//	border-width: 1px;
//	border-style: solid;
//*/	background-color: #CE393E;
//	color: #000000;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	font-weight: bold;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.tab_inactive {
//	-moz-border-radius: 5px 5px 0px 0px;
///*	border-color: #000000;
//	border-style: solid;
//	border-width: 1px;
//*/	background-color: #B1DAA7;
//	color: #777777;
///*	float: left;*/
///*	width: 150px;*/
//	cursor: default;
//	padding: 2px;
//	font-size: 14pt;
//	/*text-align: left;*/
//}

//.secondary {
//	background-color: #B1DAA7;
//	padding: 2px;
//	font-size: 10pt;
//}

//.tab_content {
//	-moz-border-radius: 0px 10px 10px 10px;
///*	width: 90%;
//	border-color: #aaaaaa;
//	border-style: solid;
//	border-width: 1px;
//	color: #000000;
//	float: left;
//	text-align: left;
//	padding: 10px;
//	*/
//}




.menu_fieldset {
	}

.menu_legend {
	}

.menu_table {
	border: 1px solid navy;
	width: "100%";
	background-color:#8080C0

	/*background-color:#FF0000
	*/
	}

.menu_tr {

	}

.menu_td {
	border: 1px solid navy;
	text-align: center;
	}

.menu_payload3_text {
	color: white;
	}

.menu_buttons {
	}