/*
$Id: message_stack_style.css 1048 2018-10-05 17:21:26Z mike $
$Rev: 1048 $
$Date: 2018-10-05 10:21:26 -0700 (Fri, 05 Oct 2018) $
*/


.msg_fieldset {
	color: DarkCyan;   /* Olive */
	background:  LightGray;    /*Gray;  /* LightGray; */
	  padding:10px;
	    border: 1px dashed  green;  /* solid  */
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
	}

.msg_legend {
	color: Olive;
	 margin-bottom:0px;
  margin-left:16px;
  background: White;
	}


.msg_showLines{
	color: white;
	background: DarkGreen;
	font-size: 90%;
	font-weight: bold;

}

.msg_style_DEBUG {
	color: black;
	background: coral;
	font-size: small;
	}

.msg_style_DEBUG_1 {
	color: cyan;
	background: black;
	font-size: small;
	}

.msg_style_DEBUG_2 {
	color: green;
	background: black;
	font-size: small;
	}

.msg_style_DEBUG_3 {
	color: green;
	background: black;
	font-size: small;
	}
.msg_style_DEBUG_4 {
	color: lightgreen;
	background: black;
	/*font-size: small;*/
	}
.msg_style_DEBUG_5 {
	color: lightgreen;
	background: black;
	/*font-size: small;*/
	}
.msg_style_DEBUG_7 {
	color: green;
	background: black;
	font-size: small;
	}
.msg_style_DEBUG_8 {
	color: green;
	background: black;
	font-size: small;
	}
.msg_style_DEBUG_9 {
	color: green;
	background: black;
	font-size: small;
	}




.msg_style_INFO {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}

.msg_style_INFO_1 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_2 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_3 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_4 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_5 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_6 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_7 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_8 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}
.msg_style_INFO_9 {
	color: #F1F227;  /*#D3D3D3;*/
	background: black;
	border-radius: 4px;
	}

.msg_style_NOTICE {
	color: #84308F;
	background-color: #4ED7F3;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_1 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_2 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_3 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_4 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_5 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_6 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_7 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_8 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.msg_style_NOTICE_9 {
	color: #84308F;
	background-color: #78DFF5;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.msg_style_WARNING {
	 color: #914f15;  /*orange; */
	background-color: #A6EAF9;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	 }

.msg_style_ERROR {
	color: red;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-weight: bolder;
	}

.msg_style_CRITICAL {
	color: #FFD700;
	background: black;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}

.msg_style_ALERT {
	color: DarkRed;
	background: Yellow;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}

.msg_style_EMERGENCY {
	color: #F1F227;   /* YellowGreen;*/
	background: Red;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}

.msg_style_TODO {
	color: #AA5535; /* Orange */
	background: white; /* gray;*/
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-weight: bolder;
	}




.msg_style_UNKNOWN {
	color: black;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}

.msg_style_default {
	color: black;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}


.msg_style_fn {
	color: green;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}